/* 
    Created on : Oct 23, 2015, 8:08:13 AM
    Author     : CERI Lahey
    Purpose    : style printable HTML
*/

body {
    background-color: white;
}

h1, h2, h3 {
    color: black;
    text-align: center;
    font-family: Arial, Sans;
}

#tableMain, #tableDetail {
    font-family: Arial, Sans;
    font-size: 12px;
    border-style: solid;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

td {
  vertical-align: top;
  text-align: left;
}

